<h1>New list</h1>
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <%= render 'form' %>
  </div>
  <div class="col-md-6">
  </div>
</div>

<%= link_to 'Back', lists_path %>
